*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;

}
body{
    background:url("../../img/cities-bg.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 50vh;
    z-index: 1;
}
/*
============
Sections
============

*/
#sections-hotel{
    padding: 50px 10px 0;
    text-align: left;
    margin-left: 180px;
}
#sections-hotel .section-title h2 a{
    font-size: 1.8em;
    color: white;
}
#sections-hotel .section-title{

    width: 100%;
    text-align: left;
    margin-left: 20%;

}
#sections-hotel .section-back{

    width: 100%;
    margin-bottom: 30px;
    text-align: left;

}
#sections-hotel .section-back a {
    width: 100%;
    text-align: center;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;

    background-color: rgba(0,0,0,0.5);
}

#sections-hotel .section-back a:hover{
    background-color: rgba(211,211,211,0.5);
    border: 1px solid black;
}
#sections-hotel .hotel-info{
    width: 100%;
    margin-right: 200px;
    margin-top: 20px;
}
#sections-hotel .hotel-info h3{
    margin-top: 5px;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}
#sections-hotel .hotel-info h3 a{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
#sections-hotel .hotel-info p{
    width: 80%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height:30px;
}
#sections-hotel .hotel-info h3 span{
    color: #bada55;
    font-size: 0.9em;
}


.hotel-guest{
    padding: 30px 0;
    margin: 0 auto;
    width: 70%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}
th, td {
    text-align: left;

}
tr:nth-child(even){background-color: rgba(206,206,206,0.5)}
tr:nth-child(odd){background-color:  rgba(220,220,220,0.5)}
tr:nth-child(1){
    background: rgba(0,0,0,0.5);
    color: white;
    border-bottom: 1px solid #fff;

}
tr th{
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #fff;
    padding: 6px;
}
tr th:last-child{
    border-right: none;
}
tr td{
    border-right: 3px solid #fff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    color: rgba(0,0,0,0.9);
    font-size: 22px;
    width: 50%;
    padding: 6px;
}
tr td:last-child{
    border-right: none;
}
tr:last-child{
    border-bottom: 3px solid #fff;
}
/*
================
Media Query for Info
================
*/
@media  screen and (min-width:770px) and (max-width: 850px){
    #sections-hotel {
        padding: 50px 10px 0;
        text-align: left;
        margin-left: 120px;
    }

}
@media only screen and (max-width: 760px){
    #sections-hotel{
        margin-left: 0;
    }
    #sections-hotel .section-title{
        text-align: center;
        margin-left: 0;
    }
    #sections-hotel .hotel-info {
        /* margin-right: 200px; */
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
    }
    #sections-hotel .section-back {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    #sections-hotel{
        margin-left: 0;
    }
    #sections-hotel .section-title{
        text-align: center;
        margin-left: 0;
    }
    #sections-hotel .hotel-info {
        /* margin-right: 200px; */
        margin-top: 20px;
        text-align: center;

    }
    #sections-hotel .section-back {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
